/* body {
    height: 100vh;
}

#page1 {
    height: 100%;
    width: 100%;
    background-color: rgb(124, 167, 167);
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2 {
    height: 100%;
    width: 100%;
    background-color: rgb(136, 126, 67);
    display: flex;
    align-items: center;
    justify-content: center;
}

#page3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: rgb(206, 130, 187);
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    background-color: red;
    height: 7rem;
    width: 7rem;
}

h1 {
    font-size: 60px;
    background-color: aqua;
    padding: 10px;
}

h2 {
    font-size: 40px;
    position: relative;
    background-color: rgb(240, 226, 253);
} */

body {
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
}

#page1 {
    height: 100%;
    width: 100%;
    background-color: rgb(185, 74, 74);
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#page1 h1 {
    white-space: nowrap;
    margin: auto auto;
}

#page2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(100, 99, 172);
}

#page2 h1 {
    font-size: 38vw;
    text-transform: uppercase;
    font-weight: 500;
    overflow-x: hidden;
}

#page3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(155, 51, 68);
    gap: 1rem;
    position: relative;
}

#page3 .h1 {
    font-size: 15vh;
    position: relative;
    padding: 3rem;
    background-color: aqua;
}

#page3 .h2 {
    font-size: 15vw;
    position: relative;
    padding: 1rem;
    background-color: rgb(112, 255, 68);
}

.box {
    background-color: red;
    height: 7rem;
    width: 7rem;
}

.box1 {
    /* background-color: rgb(119, 0, 255); */
    font-size: 10rem;
    /* height: 7rem;
    width: 7rem; */
}

.box2 {
    /* background-color: rgb(255, 113, 248); */
    /* height: 7rem;
    width: 7rem; */
    font-size: 10rem;
}